
@media print {
    .pagebreak {
        clear: both;
        page-break-after: always;
    }
}

A:link 
{
	/*color:#006cc7;*/
	color: #367594;
	text-decoration:none;

	}

A:visited 
{
	/*color:#006cc7;*/
	color: #367594;
	text-decoration:none;

}

A:active 
{
	/*color:#006cc7;*/
	color: #367594;
	text-decoration:none;

}

A:hover 
{
	/*color:#006cc7;*/
	color: #367594;
	text-decoration:underline;
	
}

.link A:link {color: #367594; text-decoration: none; font-size: 12px; font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.link A:visited{color: #367594;text-decoration: none; font-size: 12px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.link A:active{color: #367594;text-decoration: none; font-size: 12px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.link A:hover{color: #367594; text-decoration: none; font-size: 12px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}


.linkfooterbar A:link {color: #e3e3e3; text-decoration: none; font-size: 12px; font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.linkfooterbar A:visited{color: #e3e3e3;text-decoration: none; font-size: 12px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.linkfooterbar  A:hover{color: #e3e3e3; text-decoration: none; font-size: 12px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}


#textbar{color: #ffffff; text-decoration: none; font-size: 12px; font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}

.linkfooter p{color:#367594; font-size: 9px;}
.linkfooter A:link {color: #367594; text-decoration: none; font-size: 9px; font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.linkfooter A:visited{color: #367594;text-decoration: none; font-size: 9px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}
.linkfooter A:hover{color: #367594; text-decoration: none; font-size: 9px;font-weight:bold; font-family:  Verdana, Arial, Helvetica, sans-serif;}

iframe.instagram-media.instagram-media-rendered, .twitter-tweet.twitter-tweet-rendered {
    margin-left: auto !important;
    margin-right: auto !important;
}	

.PageHeader 
{
    /* header on top of page */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-weight: bold;
	color: #000000;
}

.TextHeader 
{
    /* any header in a page */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	font-style: normal;
	color: #000000;
}

span.mainarea
{
    /* default page font style */
	color:#000000;
	font-size:10pt;
	font-family:Arial;
}

td.footer
{
	height:35px;
	font-size:11pt;
	font-face:Verdana;
	border-left:solid 1px black;
	border-right:solid 1px black;
	border-bottom:solid 1px black;
	background-color:#CAC7CB;
	text-align:center;
}

.box1 {
text-align:center;
width:80%;
margin-top: 1em;
margin-bottom: 1em;
margin-left:1px;
padding:1em;
border-style: ridge;
border-width: 12px;
border-color: #996666;
}

.box2 {
border-style: ridge;
border-width: 5px;
border-color: #996666;
}

#main{
 margin:10px 0px 15px 10px;
 text-align:justify;
}

.title{
margin:0px;
margin-left: 0px;	
margin-top: 15px;	
background-color:#;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
	font-size: 13pt;
	font-weight: bold;
color:#367594;
}

.discl{
margin:0px;
margin-left: 0px;	
margin-top: 0px;	
background-color:#;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
font-size: 8pt;
font-style:italic;
}

.title2{
margin:0px;
background-color:#;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
color:#367594;
}

img.floatLeft { 
    float: left; 
    margin: 10px; 
}
img.floatRight { 
    float: right; 
    margin: 10px; 
}

img.imgtop { 
	margin-left: 10px;
	width: 750px; 
}

.title3{
margin:0px;
margin-left: 20px;	
margin-top: 15px;	
background-color:#;
text-align:left;
font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
color:#367594;
}
img.left1 { 
    clear: left; 
    margin: 25px; 
}


.title2in{
font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
color:#367594;
}

/*---------------sidebar----------------------*/

table.print-friendly tr td, table.print-friendly tr th {
	page-break-inside: avoid;
}

.tr {
	display:block; 
	page-break-inside: avoid;
	page-break-after:auto '';
}

#sidebar ul {
	padding: 2px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 5px;
		
}
#sidebar li {
	color: #367594;
	padding: 2px;
	text-decoration: none;
	text-align:left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #737373;
}
#sidebar li a {
	color: #367594;
	text-decoration: none;
	padding: 2px;
}
#sidebar li a:active {
	color: #367594;
	text-decoration: none;
	padding: 2px;
}
#sidebar li a:hover {
	color: #367594;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 2px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
}
#sidebar ul li ul {
	padding: 2px;
	list-style-type: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 15px;
		
}
#sidebar ul li ul li {
	color: #367594;
	padding: 2px;
	text-decoration: none;
	text-align:left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-bottom-color: #737373;
}
#sidebar ul li ul li a {
	color: #367594;
	text-decoration: none;
	padding: 2px;
}
#sidebar ul li ul li a:active {
	color: #367594;
	text-decoration: none;
	padding: 2px;
}
#sidebar ul li ul li a:hover {
	color: #367594;
	text-decoration: none;
	background-color: #FFFFFF;
	padding: 2px;
	border-bottom-width: 1px;
	border-bottom-style: none;
	border-bottom-color: #000000;
}

#sidebar h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	text-align:left;
	color: #ffffff;
	background-color: #7d1a14;
	padding: 2px;
	margin: 0px;
}
/*---------------news_box----------------------*/
.news_box{
width:730px;
height: 52px;
background-color:#f3f5f6;
padding:5px 5px 0px 5px;
margin:0px 0px 2px 10px;
}
.news_info{
padding:0px;
}

p.news{
text-align:justify;
font-size:12px;
}
.more{
float:right;
padding:1px;
}
.more a{
color:#7d1a14;
}
.more a:hover{
text-decoration:none;
}


.small_title{
width:320px;
margin:0px;
margin-left: 10px;	
background-color:#367594;
text-align:left;
padding:5px 5px 5px 15px;
color:#FFFFFF;
font-weight:bold;
}

#wslist ul {
	padding: 2px;
	list-style-type: none;
	list-style: none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 5px;
		
}

#wslist li {
	padding: 2px;
	text-decoration: none;
	text-align:left;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 2px;
	border-left-width: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}

.tblCellCnt {
	border: 1px solid black;
	border-radius: 7px;
	padding: 15px;
	page-break-inside: avoid;
}

.tblCellHead{
	border: 0px solid black;
	border-radius: 7px;
	padding: 5px;
}

.vline{
	background-color: lightgray; /* Set the background color for the row */
	padding: 0; /* Remove padding to avoid white spaces */
}

.vlineExt{
	background-color: black; /* Set the background color for the row */
	padding: 0; /* Remove padding to avoid white spaces */
}

.vlineSep{
	background-color: gray; /* Set the background color for the row */
	padding: 0; /* Remove padding to avoid white spaces */
}

.green-line{
    background-color: rgb(204, 255, 204);
	/* Set the background color for the row */
	padding: 0; /* Remove padding to avoid white spaces */
}

.black-line{
    background-color: black; /* Set the background color for the row */
	padding: 0; /* Remove padding to avoid white spaces */
	height: 1px;
	overflow: hidden;
}


.cellTime {
	padding: 2px;
	text-align: right;
}

.cellSocial {
	background-color: #e36414;
	color:#ffffff;
	padding: 2px;
	text-align: center;
	border-bottom: 1px solid lightgray;
}
a.cellSocial:link, a.cellSocial:visited, a.cellSocial:visited {color:#ffffff;}

.cellBreak{
	background-color: lightgray; 
	color:#000000;
	padding: 2px;
	text-align: left;
}

.cellKeynote{
	background-color: #513429;
	color:#ffffff;
	padding: 2px;
	text-align: left;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellKeynote a:link, .cellKeynote a:visited, .cellKeynote a:visited {color:#ffffff;}

.cellResearch {
	background-color: #036788;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellResearch a:link, .cellResearch a:visited, .cellResearch a:visited {color:#ffffff;}


.cellIndustry{
	background-color: #990000;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;

}
.cellIndustry a:link, .cellIndustry a:visited, .cellIndustry a:visited {color:#ffffff;}

.cellTutorial{
	background-color: #375622;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellTutorial a:link, .cellTutorial a:visited, .cellTutorial a:visited {color:#ffffff;}


.cellLightning{
	background-color: #942092;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellLightning a:link, .cellLightning a:visited, .cellLightning a:visited {color:#ffffff;}

.cellPhD{
	background-color: #305861;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellPhD a:link, .cellPhD a:visited, .cellPhD a:visited {color:#ffffff;}

.cellDEFT{
	background-color: #805F00;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellDEFT a:link, .cellDEFT a:visited, .cellDEFT a:visited {color:#ffffff;}

.cellBusiness{
	background-color: #538234;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellBusiness a:link, .cellBusiness a:visited, .cellBusiness a:visited {color:#ffffff;}

.cellPanel{
	background-color: #433A52;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellPanel a:link, .cellPanel a:visited, .cellPanel a:visited {color:#ffffff;}

.cellPoster{
	background-color: #152F51;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellPoster a:link, .cellPoster a:visited, .cellPoster a:visited {color:#ffffff;}

.cellDemo{
	background-color: #AB4951;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellDemo a:link, .cellDemo a:visited, .cellDemo a:visited {color:#ffffff;}

.cellDIE {
	background-color: #394C53;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
	border-bottom: 1px solid lightgray;
}
.cellDIE a:link, .cellDIE a:visited, .cellDIE a:visited {color:#ffffff;}


.cellSponsor{
	background-color: #797979;
	color:#ffffff;
	padding: 5px;
	border-left: 1px solid #ffffff;
}
.cellSponsor a:link, .cellSponsor a:visited, .cellSponsor a:visited {color:#ffffff;}


  /*---------------Carousel----------------------*/


  .content-slider {
	width: 100%;
	height: 100px;
  }
  
  .slider {
	height: 100px;
	width: 680px;
	margin: 20px auto 0;
	overflow: visible;
	position: relative;
  }
  
  .mask {
	overflow: hidden;
	height: 100px;
  }
  
  .slider ul {
	margin: 0;
	padding: 0;
	position: relative;
  }
  
  .slider li {
	width: 680px;
	height: 100px;
	position: absolute;
	top: -125px;
	list-style: none;
  }
  
  .slider .quote {
	font-size: 25px;
	font-style: italic;
  }
  
  .slider .source {
	font-size: 20px;
	text-align: right;
  }
  
  .slider li.anim1 {
	animation: cycle 15s linear infinite;
  }
  
  .slider li.anim2 {
	animation: cycle2 15s linear infinite;
  }
  
  .slider li.anim3 {
	animation: cycle3 15s linear infinite;
  }
  
  .slider li.anim4 {
	animation: cycle4 15s linear infinite;
  }
  
  .slider li.anim5 {
	animation: cycle5 15s linear infinite;
  }
  
  .slider:hover li {
	animation-play-state: paused;
  }
  
  @keyframes cycle {
	0% {
	  top: 0px;
	}
	4% {
	  top: 0px;
	}
	16% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	20% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	21% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	50% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	92% {
	  top: -325px;
	  opacity: 0;
	  z-index: 0;
	}
	96% {
	  top: -325px;
	  opacity: 0;
	}
	100% {
	  top: 0px;
	  opacity: 1;
	}
  }
  
  @keyframes cycle2 {
	0% {
	  top: -325px;
	  opacity: 0;
	}
	16% {
	  top: -325px;
	  opacity: 0;
	}
	20% {
	  top: 0px;
	  opacity: 1;
	}
	24% {
	  top: 0px;
	  opacity: 1;
	}
	36% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	40% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	41% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle3 {
	0% {
	  top: -325px;
	  opacity: 0;
	}
	36% {
	  top: -325px;
	  opacity: 0;
	}
	40% {
	  top: 0px;
	  opacity: 1;
	}
	44% {
	  top: 0px;
	  opacity: 1;
	}
	56% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	60% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	61% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle4 {
	0% {
	  top: -325px;
	  opacity: 0;
	}
	56% {
	  top: -325px;
	  opacity: 0;
	}
	60% {
	  top: 0px;
	  opacity: 1;
	}
	64% {
	  top: 0px;
	  opacity: 1;
	}
	76% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	80% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
	81% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
	100% {
	  top: -325px;
	  opacity: 0;
	  z-index: -1;
	}
  }
  
  @keyframes cycle5 {
	0% {
	  top: -325px;
	  opacity: 0;
	}
	76% {
	  top: -325px;
	  opacity: 0;
	}
	80% {
	  top: 0px;
	  opacity: 1;
	}
	84% {
	  top: 0px;
	  opacity: 1;
	}
	96% {
	  top: 0px;
	  opacity: 1;
	  z-index: 0;
	}
	100% {
	  top: 325px;
	  opacity: 0;
	  z-index: 0;
	}
  }
